obj
bin
*.user
*.suo
*.tmp
*.pyc
*.pyc
*.nupkg
.DS_Store
packages
*.ide*
*db.lock
.vs
*.sqlite
*.csv
.vscode/**
**/node_modules/**
*.egg-info/**
**/.warehouse/**
**/.out/**
**/.net/**
**/.cache/**
**/.lake/**
**/.data/**
**/.schema/**
**/.platform/**
**/build/**
**/dist/**
*.procs