.LoadingIndicator {
  position: relative;
}

.LoadingIndicator .indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: #fff8;
  display: flex;
  align-items: center;
  justify-content: center;
}
